.navigation-container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-top: 20px;
}

.navigation-section {
    padding: 0 100px;
}

.links-section {
    display: flex;
    width: 400px;
    justify-content: space-between;
}
