.navigation-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Ultra', serif;
    color: white;
}

.navigation-section {
    padding: 20px 100px;
}

.links-section {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.navigation-link:hover {
    cursor: pointer;
    color: rgb(138, 132, 132);
}